<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated model -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="uk.ac.kcl.inf.modelling.banking.bank.presentation.BankingModelWizardID"
            name="%_UI_BankingModelWizard_label"
            class="uk.ac.kcl.inf.modelling.banking.bank.presentation.BankingModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/BankingModelFile.gif">
         <description>%_UI_BankingModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated model -->
      <editor
            id="uk.ac.kcl.inf.modelling.banking.bank.presentation.BankingEditorID"
            name="%_UI_BankingEditor_label"
            icon="icons/full/obj16/BankingModelFile.gif"
            extensions="banking"
            class="uk.ac.kcl.inf.modelling.banking.bank.presentation.BankingEditor"
            contributorClass="uk.ac.kcl.inf.modelling.banking.bank.presentation.BankingActionBarContributor">
      </editor>
   </extension>
</plugin>
